body
{
  background-color: black
}


.strokeme
{
    color: white;
    font-size: 250%;
    text-align: center;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
